.section {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  margin: 35px 0;
  position: relative;
  overflow: hidden;
  background-color: #151515;
  background-image: url('./image/bgs/006.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

}

.fadeInSection {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;

  gap: 100px;
  position: relative;
  z-index: 1;
}

.textGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  
}

.decorativeImage {
  width: 75px;
  height: auto;
  margin-bottom: -10px;
}

.h1 {
  font-size: clamp(2rem, 1vw, 3rem);
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #EFEFEF;
}

.h2 {
  font-size: clamp(1.5rem, 1vw, 2rem);
  color: #ffc42d;
  font-style: italic;
  border-left: 4px solid #fccc1c;
  padding-left: 10px;
}

.p {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #eeeeee;
  line-height: 1.6;
}



.videoContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

transform: skew(-10deg);
transform-origin: top left;
border: 10px solid #EFEFEF;
  position: relative;
  z-index: 1;
}


.video {

  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
  opacity: 1;
  }
.diagonal {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #111111;
  transform: skew(-10deg);
  transform-origin: top left;
  z-index: 0;
}

@media (max-width: 900px) {
  .section {
    height: 70vh;
    padding: 0;
    margin: 0px 0;
  }
  .content {
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }
  .videoContainer {
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100vw;
    height: 100%;

    transform: skew(0deg);
  }

  .separator {
    display: none;
  }

  .iframe {
    max-width: 100vw;
    height: 500px;
  }

  .textGroup {
    text-align: center;
  }

  .decorativeImage {
    margin: 0 auto;
  }
}
