.main {
  position: relative;
  width: 100vw;
  height: auto;
  border-top: 3px solid #CD915D;
  border-bottom: 3px solid #CD915D;
  box-sizing: content-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  max-width: 1400px;
  margin: auto;
  gap: 40px;
}

.topRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  gap: 40px;
}

@media (min-width: 768px) {
  .topRow {
    flex-direction: row;
    justify-content: space-between;
  }
}

.textSection {
  text-align: left;
  max-width: 600px;
  font-size: 1.1rem;
}

.textSection h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  margin-bottom: 20px;
}

.textSection p {
  font-size: clamp(0.5rem, 4vw, 1.1rem);
}

.highlight {
  color: orange;
}

.imageSection {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  max-height: 700px;
}

.imageSection img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
}

.iconSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  flex: 1 1 150px;
  max-width: 200px;
}

.iconItem img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.iconItem:hover {
  transform: scale(1.1);
}

.iconItem p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .iconSection {
    flex-direction: row;
    justify-content: center;
  }

  .iconItem img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 932px) and (max-height: 430px),
       (max-width: 896px) and (max-height: 414px),
       (max-width: 915px) and (max-height: 412px) {
  .topRow {
    flex-direction: column;
    align-items: center;
  }

  .textSection {
    text-align: center;
  }

  .imageSection {
    max-height: 300px;
    max-width: 50vw;
  }
}
