---

import RiveComponent from "../../global/animations/riveComponent";

---


    <section id="domains">
      <div class="rivecomp web">
        <RiveComponent
          src="/rive/funeraria-v2.riv"
          artboard="planes_seccion"
          stateMachines="State Machine 1"
          autoplay={true}
          fit="fill"
          client:only="react" 
          transition:persist
        />
      </div>

      <div class="rivecomp movil">

        <RiveComponent 
        src="/rive/funeraria-v2.riv" 
        artboard="planes_seccion_movil"
        stateMachines="State Machine 1"
        autoplay={true} 
        transition:persist 
        fit="contain"
        client:only/>
      
        </div>
     
    </section>


    <style>


section {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 75vh;
      antialiased: true;
      -webkit-font-smoothing: antialiased;
      
      }

   
      .rivecomp {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      
      z-index: 2;
      }
      


.web {
  display: block;
}

.movil {
  display: none;
}

@media (max-width: 768px) {
  section {
    cursor: default;
    height: 1500px;

 
  }
  .web {
    display: none;
  }
  .movil {
    display: block;
  }
}


    </style>