---

import RiveComponent from "../../global/animations/riveComponent";
import SeccionTechCanvas from "../../Scene3D/technology/seccion_tech_main";

---

<div class="centered-text">
  <h1 class="large-text white-text">Descubre la innovación tecnológica</h1>
  <h2 class="large-text bold-text gradient-text">detrás de nuestros proyectos</h2>
</div>
    <section id="tech_stack">
      <div class="rivecomp web">
        <SeccionTechCanvas client:only="react" transition:persist/>
      </div>

    </section>

    <style>
      
section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;


  }
  .centered-text {
  text-align: center;
}

.large-text {
  font-size: 5em; /* Aumenta el tamaño de las letras del h1 */
}

.white-text {
  color: white;
}

.bold-text {
  font-weight: bold;
}

.gradient-text {
  font-size: 4em; /* Tamaño más grande para el h2 pero no tanto como el h1 */
  background: linear-gradient(to right, #B43BFF, #55D9FF);
  -webkit-background-clip: text;
  color: transparent;
}


  
  .rivecomp {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    z-index: 2;
  }
  
  .web {
    display: block;
  }
  
  .movil {
    display: none;
  }
  
  @media (max-width: 768px) {
    .section {
      cursor: default;
    }
    .web {
      display: none;
    }
    .movil {
      display: block;
    }
  }
  
    </style>