---
import Seccion1Canvas from "../../Scene3D/orbita/seccion1_main";
---





<section id="home" >

        <Seccion1Canvas client:only="react" transition:persist/>
   
        <div class="esfera"/>
</section>



<style>

  
section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;

  }

  .esfera {
    position: absolute;
    top: 10%;
      left: 10%; /* Mueve la esfera a la derecha */
    transform: translate(-50%, -50%);
    
    width: 1750px;
    height: 1750px;
    /* gradiente de color 375BEB a transparente radial centrado */
    background: radial-gradient(circle at center, #375beb4a 0%, #1a0a4e1c 30%, transparent 100%);
    z-index: -1;
  }

  .web {
    display: block;
  }
  
  .movil {
    display: none;
  }
  
  @media (max-width: 768px) {
    .section {
      cursor: default;
    }
    .web {
      display: none;
    }
    .movil {
      display: block;
    }
  }
  
</style>