.scrollcontainer::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
    left: 15px;
}

.react-scrollbar-track {
  background-color: rgba(30, 30, 30, 0.7); /* Fondo gris oscuro con opacidad */
  border-radius: 10px;
  width: 12px !important; /* Ancho del scrollbar */
}

/* Thumb del scrollbar (el "cuadro de deslizar") */
.react-scrollbar-thumb {
  background-color: #003a8c; /* Azul oscuro */
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Borde con opacidad */
}

/* Hover para el thumb */
.react-scrollbar-thumb:hover {
  background-color: #0055cc; /* Azul más claro al hacer hover */
}

/* Ajustes para que el scrollbar siempre sea visible */
.react-scrollbar-track {
  opacity: 1 !important;
}