/* Contenedor principal */
.container {
    background-color: #5F331D;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
/*     border-left: 4px solid #CD915D;
    border-right: 4px solid #CD915D; */
}

/* Título */
.title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Formulario */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Campo del formulario */
.field {
    display: flex;
    flex-direction: column;
}

/* Etiqueta del campo */
.label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Contenedor del input */
.inputContainer {
    display: flex;
    align-items: center;
}

/* Input y Textarea */
.input,
.textarea {
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid #CD915D;
    border-radius: 4px;
    background-color: #fff9f4;
    color: black;
    flex: 1;
}

.input:focus,
.textarea:focus {
    outline: none;
    border-color: #CD915D;
    box-shadow: 0 0 4px #CD915D;
}

/* Botón de envío */
.submitButton {
    font-size: 1.25rem;
    padding: 0.75rem;
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    background-color: #CD915D;
    color: #0D0E26;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: rgb(255, 162, 0);
    color: black;
}

/* Iconos */
.icon {
    margin-right: 8px; /* Ajusta el margen según sea necesario */
    width: 24px; /* Ajusta el tamaño del icono según sea necesario */
    height: 24px; /* Ajusta el tamaño del icono según sea necesario */
}

/* Mensajes de error */
.error {
    color: #FF5555;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}