---
import Layout from '../layouts/Layout.astro';

import MyCanvas from '../components/Scene3D/oficina/Main.jsx';

---

<Layout title="Home" showFooter={true}>





		<MyCanvas client:only transition:persist/>
<!-- 		<div class="h-[100vh] w-[100vw] flex column justify-center align-middle bg-red items-center">

			<button class="w-5 h-5">
				<a href="/support">About</a>
			</button>
		</div> -->


</Layout>

