.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #0d0e2669;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #7c06eb;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #00c8ff, #8b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 1.2;
}

.logopic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.logopic img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.navMenu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navItem {
  display: inline-block;
}

.navLink {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 8px;
  background: linear-gradient(145deg, #0b1222, #1b2b4a);
  /* box-shadow: 3px 3px 6px #070c18, -3px -3px 6px #1f3355; */
  transition: all 0.3s;
}

.navLink::before,
.navLink::after {
  content: "";
  position: absolute;
  top: 0; /* Remueve esta línea */
  bottom: 0; /* Remueve esta línea */
  width: 2px; /* Cambia el grosor a un valor adecuado */
  background: #7c06eb; /* Color morado */
}

.navLink::before {
  left: 0; /* Línea en el borde izquierdo */
}

.navLink::after {
  right: 0; /* Línea en el borde derecho */
}

.navLink:hover {
  color: #00c8ff;
  background: linear-gradient(145deg, #1b2b4a, #0b1222);
  box-shadow: inset 3px 3px 6px #070c18, inset -3px -3px 6px #1f3355;
}

.socialIcons {
  display: flex;
  gap: 0.5rem;
}

.socialIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  background-color: #252525;
  transition: background-color 0.3s;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: #ffffff;
  transition: fill 0.3s, background-color 0.3s;
}

.socialIcons a:hover {
  background-color: #1a1a1a;
}

.socialIcons a:hover .icon {
  filter: brightness(0) saturate(100%) invert(49%) sepia(93%) saturate(7483%) hue-rotate(159deg) brightness(107%) contrast(104%);
}

.socialIconsGroup {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.socialIconsGroup:hover {
  transform: scale(1.05);
}

.socialIconsGroup:hover .icon {
  filter: brightness(0) saturate(100%) invert(49%) sepia(93%) saturate(7483%) hue-rotate(159deg) brightness(107%) contrast(104%);
}

.buyButton {
  background: linear-gradient(145deg, #0b1222, #1b2b4a);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  border: 1px solid #7c06eb;
}

.buyButton:hover {
/*   background: linear-gradient(to right, #a000ff, #00d4ff); */
  color: #00c8ff;
  background: linear-gradient(145deg, #1b2b4a, #0b1222);
  box-shadow: inset 3px 3px 6px #a000ff, inset -3px -3px 6px #00d4ff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .navMenu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
