---
import FormContact from '../react_components/FormContacto/FormContacto.jsx';
---
<div class="centered-text">
  <h1 class="large-text white-text">DÉJENOS SUS DATOS Y CON GUSTO LE ASESORAMOS</h1>
</div>
<section id="contacto">
  <div class="container">
    <div class="form-column">
      <FormContact client:only="react" transition:persist/>
    </div>
  </div>
    <div class="info-column">
      <div class="container_info">

        <img src="./favicon.png" alt="Logo" class="logo"/>
        <h1 class="title">Apoyo inmediato</h1>
        <p class="description">Estamos para ayudarle</p>
      </div>
    </div>
</section>

<style>
section {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60vh;
  padding: 0 20px;
  background-color: #5a3e19;
  
}

.centered-text {
  text-align: center;
  background-color: #4f2b18;
  padding-top: 50px;
  padding-bottom: 50px;
}

.large-text {
  font-size: 3.5em; 
}

.white-text {
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

}
.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-column, .info-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.form-column {
  width: 500px;
  height: 500px;
}

.info-column {
  text-align: center;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
}

.description {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.05em; /* Añade separación entre letras */
  margin-top: 20px; /* Añade un margen superior para separar del título */
}



.web {
  display: block;
}

.movil {
  display: none;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    height: auto; /* Ajusta la altura para que sea dinámica en móviles */
    padding: 20px; /* Agrega un poco de espacio alrededor */
  }

  .container {
    width: 100%;
    height: auto; /* Permite que las columnas se ajusten automáticamente */
  }

  .form-column, .info-column {
    width: 100%; /* Ocupan el ancho completo en móvil */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 20px 0; /* Agrega margen para separar visualmente las secciones */
  }

  .info-column {
    order: -1; /* Mueve la columna de información hacia arriba */
  }

  .form-column {
    order: 1; /* Mantén la columna del formulario en la parte inferior */
  }
  .large-text {
  font-size: 2.5em; 
}
.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}


}

</style>